<!-- customer-detail.component.html -->
<div *ngIf="customer" class="container mt-5">
  <div class="card">
    <div class="card-header">
      <h2>Customer Details</h2>
    </div>
    <div class="card-body">
      <div class="row mb-3">
        <div class="col-md-4">
          <img [src]="customer.pic" class="img-fluid rounded" alt="Customer Picture">
        </div>
        <div class="col-md-8">
          <h3>{{ customer.customerName }}</h3>
          <p><strong>Address:</strong> {{ customer.customerAddress }}</p>
          <p><strong>Phone:</strong> {{ customer.customerPhone }}</p>
          <p><strong>Customer Code:</strong> {{ customer.customerCode }}</p>
          <p><strong class="me-2">Status:</strong> <span [class]="customer.isActive ? 'badge bg-primary' : 'badge bg-secondary'">{{ customer.isActive ? 'Active' : 'Inactive' }}</span></p>
          <p><strong>Last Order Date:</strong> {{ customer.lastOrderDate }}</p>
        </div>
      </div>
    </div>
  </div>
  <button class="btn btn-secondary mt-2" style="width: 100%;" routerLink="/customer">Kembali</button>
</div>
