<div class="row customer-list-container">
  <div class="d-flex align-items-center mt-4 mb-2 justify-content-between header-order-container">
    <h3>Order Management</h3>
    <div class="action-button">
      <button 
      class="btn btn-warning me-2" 
      style="height: 40px;" 
      (click)="downloadFile()"
    >Download Report</button>
    <button 
      class="btn btn-primary" 
      style="height: 40px;" 
      (click)="onAddOrder()"
    >Add Order</button>
    </div>
  </div>

  <!-- Customer Filter Component -->  
  <app-order-filter
    (search)="onSearch($event)"
    (sort)="onSort($event)"
  ></app-order-filter>

  <!-- Customer List Component -->
  <app-order-list 
    class="table-responsive"
    [orders]="orders"
  ></app-order-list>

  <!-- Pagination Component -->
  <app-pagination 
    class="mt-4" 
    [page]="page"
    [pageSize]="pageSize"
    [totalItems]="total"
    (pageChange)="onPageChange($event)"
  ></app-pagination>

  <!-- Customer Edit/View/Add Modal -->
  <app-order-modal
    #orderModal
    (formSubmit)="fetchOrders()"
  ></app-order-modal>

  <!-- Item delete modal -->
  <app-order-delete-modal 
    #deleteOrderModal 
    (orderDeleted)="fetchOrders()"
  ></app-order-delete-modal>
  
</div>