thead {
  margin: 20px !important;
  border: 1px solid #F0F3F7;;
}

th {
  border-bottom: none;
  padding-top: 20px;
  padding-bottom: 20px;
}

th:first-child {
  padding-left: 40px;
}

th:last-child {
  padding-right: 40px;
}