<div class="row customer-list-container table-responsive">
  <div class="d-flex align-items-center mt-4 mb-2 justify-content-between">
    <h3>User Management</h3>
    <button class="btn btn-primary" style="height: 40px;" data-bs-toggle="modal" data-bs-target="#addCustomerModal">Add Customer</button>
  </div>

  <!-- Customer Filter Component -->
  <app-customer-filter
    (search)="onSearch($event)"
    (sort)="onSort($event)"
  ></app-customer-filter>

  <!-- Customer List Component -->
  <app-customer-list 
    [customers]="customers"
    [page]="page"
    [pageSize]="pageSize"
    (customerUpdated)="onCustomerUpdated($event)"
    (customerDeleted)="onCustomerDeleted()"
  ></app-customer-list>

  <!-- Pagination Component -->
  <app-pagination 
    class="mt-4" 
    [page]="page"
    [pageSize]="pageSize"
    [totalItems]="total"
    (pageChange)="onPageChange($event)"
  ></app-pagination>

  <!-- Customer Create Modal -->
  <app-customer-add-form (formSubmit)="onFormSubmit()"></app-customer-add-form>

  <app-modal name="Delete Customer" #deleteCustomerModal actionButtonText="Delete" [payload]="deleteCustomerModal.payload">
    <p>Are you sure want to delete the customer?</p>
  </app-modal>
  
</div>