<div class="row customer-list-container table-responsive">
  <div class="d-flex align-items-center mt-4 mb-2 justify-content-between">
    <h3>User Management</h3>
    <button 
      class="btn btn-primary" 
      style="height: 40px;" 
      (click)="onAddCustomer()"
    >Add Customer</button>
  </div>

  <!-- Customer Filter Component -->
  <app-customer-filter
    (search)="onSearch($event)"
    (sort)="onSort($event)"
  ></app-customer-filter>

  <!-- Customer List Component -->
  <app-customer-list 
    [customers]="customers"
  ></app-customer-list>

  <!-- Pagination Component -->
  <app-pagination 
    class="mt-4" 
    [page]="page"
    [pageSize]="pageSize"
    [totalItems]="total"
    (pageChange)="onPageChange($event)"
  ></app-pagination>

  <app-customer-modal
    #customerModal
    (formSubmit)="fetchCustomers()"
  ></app-customer-modal>

  <app-customer-delete-modal 
    #deleteCustomerModal 
    (customerDeleted)="fetchCustomers()"
  ></app-customer-delete-modal>
  
</div>